.DS_Store
.idea/DEEPScreen.iml
.idea/misc.xml
.idea/modules.xml
.idea/other.xml
.idea/workspace.xml
JobCommandsForAllTop5ModelsDrugCase.sh
Yamanishi/
activeInactive.zip
ebiTensorflowRdkit.tar.gz
figures/
keggHtml/
resultFiles/.DS_Store
resultFiles/ChEMBLBestModelMCCScores.txt
resultFiles/ChEMBLBestModelResultsAll_v2.txt
resultFiles/DUDEResultsAll.txt
resultFiles/DUDEResultsBest.txt
resultFiles/DUDEResultsBest.xlsx
resultFiles/DUDE_new.txt
resultFiles/DUDE_new_best.txt
resultFiles/DUDE_new_best.xlsx
resultFiles/LOGS/
resultFiles/LenselinkFinalManuscriptResultsAll.txt
resultFiles/LenselinkFinalManuscriptResultsBest.txt
resultFiles/LenselinkFinalManuscriptResultsBest.xlsx
resultFiles/MUVResultsAll.txt
resultFiles/MUVResultsBest.txt
resultFiles/MUVResultsBestX.txt
resultFiles/MUVResultsBestX.xlsx
resultFiles/MUV_new.txt
resultFiles/MUV_new_best.txt
resultFiles/MUV_new_best.xlsx
resultFiles/ShallowTrainingResults.txt
resultFiles/ShallowTrainingResults.xlsx
resultFiles/allResultsCombined.txt
resultFiles/drug_case_study_predictions/
resultFiles/drug_case_study_top5.txt
resultFiles/drug_case_study_top5_chembl_id_separated.txt
resultFiles/old_result_files/
resultFiles/testDrugPredictions.txt
resultFiles/testDrugPredictionsBestModel.txt
resultFiles/testDrugPredictionsTop3Models.txt
resultFiles/~$bestModelResultsAll.xlsx
tempImage/
tflearnLogs/
trainingFiles/chembl_24_1_chemreps.txt
tflearnModels/

