trainingFiles/ filter=lfs diff=lfs merge=lfs -text
trainingFiles/chembl_24_1_chemreps.txt filter=lfs diff=lfs merge=lfs -text
trainingFiles/chembl_24_1 filter=lfs diff=lfs merge=lfs -text
trainingFiles/chembl_23_chemreps.txt filter=lfs diff=lfs merge=lfs -text
